html, body {
  height: 100%;
  width: 100%;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.content {
  padding-right: 0;
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  height: 100%;
}

.room-header {
  height: 10%;
}

.messages {
  background-color: #CDBFE3;
  color: #000;
  height: 80%;
  width: 100%;
  overflow: scroll;
}

.rooms {
  background-color: #563D7C;
  color: white;
  height: 100%;
  padding: 0 25px;
}

.content {
  height: 100%;
}

.input {
  height: 10%;
}
