$charcoal: #252525 !default;
$charcoal_light: #333 !default;
$chatBlueDark: #112938 !default;
$chatBlue: #233b4b !default;
$chatBlueLight: #719Ec3 !default;
$chatWhite: #FEFEFE !default;
$chatRed: $brand-primary !default;
$chatGrayLight: #C1C5CB !default;
$chatRedDark: #A04E4E !default;

$brand-primary: $chatRed !default;


$leftColWidth: 25%;
$contentWidth: 75%;