$charcoal: #252525 !default;
$charcoal_light: #333 !default;
$chatBlue: #233b4b !default;
$chatBlueDark: #112938 !default;
$chatWhite: #FEFEFE !default;
$chatRed: $brand-primary !default;
$chatRedDark: #A04E4E !default;

$brand-primary: $chatRed !default;
