html, body {
  height: 100%;
  width: 100%;
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  height: 100%;
}
.messages {
  background-color: #CDBFE3;
  color: #000;
  height: 75%;
}

.rooms {
  background-color: #563D7C;
  color: white;
  height: 100%;
}

.content {
  height: 100%;
}

.input {
  height: 25%;
}
